@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf") format("truetype");
}
* {
  font-family: "Montserrat";
}

html {
  background: #e5e5e5;
}
body {
  width: 1280px;
  height: 1628px;
  margin: 0 auto;
  padding: 0;
  background: white;
}
header {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  height: 78px;
}
a {
  text-decoration: none;
  color: #ff0000;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 620px;
}
li {
  font-size: 18px;
  font-weight: 700;
  color: #ff0000;
  height: 27px;
  list-style-type: none;
  letter-spacing: 2.7px;
}
img {
  width: 100%;
  height: 100%;
}
h2 {
  margin-top: 49px;
  text-align: center;
  width: 774px;
  height: 29px;
  margin-left: 253px;
  margin-right: 253px;
  font-size: 22px;
  letter-spacing: 3.3px;
  font-weight: 700;
}
.sect-2 > .par1 {
  margin-top: 38px;
  width: 1145px;
  height: 132px;
  margin-left: 67.5px;
  margin-right: 67.5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #373737;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-indent: 10px;
}
.sect-2 > .par2 {
  margin-top: 28px;
  width: 1145px;
  height: 216px;
  margin-left: 67.5px;
  margin-right: 67.5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #373737;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-indent: 10px;
}
footer {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
}
.p-footer {
  margin-top: 82px;
  margin-left: 544px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}
